<!DOCTYPE html>
<html>
<head>
    <title><?php echo $title ?></title>
    <?php
        foreach ($style as $sheet) {
            echo "<link rel='stylesheet' type='text/css' href='assets/css/$sheet'>";
        }
        foreach ($scripts as $script) {
            echo "<script src='assets/js/$script'></script>";
        }
    ?>
</head>
<body>
<div class="container">