body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}

.message-board {
    display: table-row;
    width: 100%;
    height: 100%;
}

/* Common elements for message column and users column */
.title-bar > p {
    margin: 0;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    color: #92b9ee;
    font-weight: bold;
}
/* Common elements end here */

/* Message column and included elements */
.message-column {
    display: table-cell;
    padding-right: 10px;
}

.message-column-table {
    display: table;
    width: 100%;
    height: 100%;
}

.message-column-row {
    display: table-row;
    width: 100%;
}

.message-column-row > .title-bar {
    display: table-cell;
    height: 27px;
    width: 100%;
    background-image: url("../images/messageboard-page/titlebar_msgcolumn_left.jpg"),
    url("../images/messageboard-page/titlebar_msgcolumn_right.gif"),
    url("../images/messageboard-page/titlebar_msgcolumn_background.gif");
    background-position: left, right, center;
    background-repeat: no-repeat, no-repeat, repeat-x;
}

.message-column-row > .title-bar > p > .logout {
    float: right;
    padding-left: 20px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    background: url("../images/messageboard-page/lockicon.gif") left no-repeat;
}

.filter {
    display: table-cell;
    height: 24px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #c1c5cb;
    padding-top: 4px;
}

.filter > form {
    padding-left: 15px;
}

.messages {
    display: table-cell;
    width: 100%;
    border-bottom: 2px solid #edeeef;
    background: #fff;
}

.messages-inner-block {
    height: 100%;
    padding-top: 15px;
    overflow-y: scroll;
}

.messages-inner-block > .message {
    padding: 0 15px 7px 15px;
}

.message > h1 {
    font-size: 7pt;
    color: #6e7c90;
    margin-bottom: 3px;
}

.message > p {
    font-size: 8pt;
    color: #283055;
    margin: 0;
    padding-left: 15px;
}

.write-message {
    display: table-cell;
    width: 100%;
    height: 77px;
    background-color: #fff;
    background-image: url("../images/login-page/columncorner_bottomleft.gif"),
url("../images/login-page/columncorner_bottomright.gif"),
url("../images/login-page/columnbottom_background.gif");
    background-position: left bottom, right bottom,bottom;
    background-repeat: no-repeat, no-repeat, repeat-x;
}

.write-message-table {
    display: table;
    width: 100%;
    height: 100%;
}

.write-message-fluid-box {
    display: table-cell;
    padding: 15px;
}

.write-message-fluid-box > textarea {
    width: 100%;
    height: 100%;
}

.write-message-fix-box {
    display: table-cell;
    width: 100px;
    vertical-align: top;
    padding-top: 15px;
}

.write-message-fix-box > form > input[type="button"] {
    width: 82px;
}
/* Message column and included elements end here */


/* User column and included elements */
.users-column {
    display: table-cell;
    width: 220px;
    background-color: #fff;
}

.users-column-table {
    display: table;
    width: 100%;
    height: 100%;
}

.users-column-row {
    display: table-row;
    width: 100%;
}

.users-column-row > .title-bar {
    display: table-cell;
    height: 27px;
    width: 100%;
    background: url("../images/messageboard-page/titlebar_usercolumn.jpg") left no-repeat;
}

.users-list {
    display: table-cell;
    width: 100%;
    background: #fff;
}

.users-list-inner-box {
    height: 100%;
    overflow-y: scroll;
}

.users-list-inner-box > ul {
    margin-top: 0;
    padding: 3px;
}

.users-list-inner-box > ul > li {
    height: 23px;
    list-style: none;
    border-bottom: 1px solid #dfe5eb;
    padding-left: 20px;
    background: url('../images/messageboard-page/usericon.gif') left no-repeat;
    line-height: 24px;
}

.users-status {
    display: table-cell;
    width: 100%;
    height: 15px;
    background-image: url("../images/login-page/columncorner_bottomleft.gif"),
    url("../images/login-page/columncorner_bottomright.gif"),
    url("../images/login-page/columnbottom_background.gif");
    background-position: left bottom, right bottom,bottom;
    background-repeat: no-repeat, no-repeat, repeat-x;
}

.users-status > p {
    color: #6e7c90;
    padding-left: 10px;
    font-size: 11px;
    float: left;
}
/* User column and included elements end here */