body, html {
    margin: 0;
    background: #f3f3f4;
    font-family: Tahoma, Helvetica, sans-serif;
}

/* Main container for all pages */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

