<!-- table starts in container -->
    <!-- row -->
    <div class="message-board">
        <!-- fluid box -->
        <div class="message-column">
            <!-- inner table -->
            <div class="message-column-table">
                <!-- inner row -->
                <div class="message-column-row">
                    <!-- inner fixed box -->
                    <div class="title-bar">
                        <p>
                            <?php echo $username; ?>
                            <a href="users_handler.php?logout" class="logout">Log Out</a>
                        </p>
                    </div>
                </div>
                <div class="message-column-row">
                    <!-- inner fixed box -->
                    <div class="filter">
                        <form action="">
                            Messages:
                            <input type="radio" name="filter" value="all" checked="checked" id="filter-all"> All
                            <input type="radio" name="filter" value="7days" id="filter-7days"> 7 days
                            <input type="radio" name="filter" value="today" id="filter-today"> Today
                        </form>
                    </div>
                </div>
                <div class="message-column-row">
                    <!-- inner fluid box-->
                    <div class="messages">
                        <div class="messages-inner-block" id="messages-block">
                            
                        </div>
                    </div>
                </div>
                <div class="message-column-row">
                    <!-- inner fixed box -->
                    <div class="write-message">
                        <div class="write-message-table">
                            <div class="write-message-fluid-box">
                                <textarea name="message-text" form="message-form" id="message-text" onkeypress="pressEnter(event)"></textarea>
                            </div>
                            <div class="write-message-fix-box">
                                <form id="message-form">
                                    <input type="button" value="Send" onclick="sendMessage()">
                                    <input name="username" type="hidden" id="message-username" value="<?php echo $username ?>">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fixed box -->
        <div class="users-column">
            <!-- inner table -->
            <div class="users-column-table">
                <!-- inner row -->
                <div class="users-column-row">
                    <!-- inner fixed box-->
                    <div class="title-bar">
                        <p>Users</p>
                    </div>
                </div>
                <div class="users-column-row">
                    <!-- inner fluid box-->
                    <div class="users-list">
                        <div class="users-list-inner-box">
                            <ul id="users-list">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="users-column-row">
                    <!-- inner fixed box-->
                    <div class="users-status" id="users-status">

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    /* Calling on page load function */
    window.onload = pageLoad();
</script>